html {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.navegacion {
  position: fixed;
  font-size: 10px;
  color: #dad9d9;
  background-color: #12121299;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.contenedor-logo-nav {
  margin: 0 2rem 8px 0;
  width: 12px;
  height: 13px;
}
img {
  max-width: 100%;
}
.lista-nav {
  display: flex;
  align-items: center;
}
.acordeon-nav {
  list-style: none;
  cursor: pointer;
  padding: 1vw 1.5vw 1vw 1.5vw;
  transition: all 0.3s ease 0s;
}

li:hover {
  color: white;
}
.sub-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  background-color: #121212;
  width: 100vw;
  height: 70vh;
  top: -1300%;
  position: absolute;
  margin-top: 1vw;
  padding: 2rem;
}

.sub-lista > li {
  width: 500px;
  color: white;
  padding-left: 1rem;
  font-size: 25px;
  gap: 5rem;
  transform: translateX(-20px);
  background-color: transparent;
}
.parrafo-acordeon {
  padding: 10px 0 10px 0;
}
.sub-lista > li:hover {
  color: white;
}

.acordeon-nav:hover > .sub-lista {
  backdrop-filter: blur(10px);
  top: 25px;
  transition: all 0.7s;
}

.ip-pro {
  padding-top: 4rem;
  background-image: url(..//assets/iphone\ 15\ pro.jpg);
  height: 100vh;
  width: inherit;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: static;
  right: 0;
  top: 40px;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.contenedor1 {
  color: white;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 30px;
  font-weight: 50;
}
.contenedor1 > h3 {
  font-size: 25px;
  font-weight: 300;
}
.contenedor1 > a {
  color: #2997ff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
.ip-normal {
  background-image: url(..//assets/ipgone\ 15.jpg);
  height: 100vh;
  width: inherit;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;

  right: 0;
  top: 40px;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.contenedor2 {
  color: black;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}
.contenedor2 > h3 {
  font-size: 25px;
  font-weight: 300;
}
.contenedor2 > a {
  color: #2997ff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
.applewatch {
  background-image: url(..//assets/apple\ watch.jpg);
  height: 100vh;
  width: inherit;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: static;
  right: 0;
  top: 40px;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.contenedor3 {
  color: white;
  padding-top: 2.5rem;
  text-align: center;
}
.contenedor3 > h3 {
  font-size: 25px;
  font-weight: 300;
}
.contenedor3 > a {
  color: #2997ff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
@media only screen and (max-width: 735px) {
  .ip-pro {
    display: block;
    background-image: url("..//assets/iphone\ 15\ pro\ respon.jpg");
  }
  .ip-normal {
    background-image: url(..//assets/ipgone\ 15\ respon.jpg);
  }
  .applewatch {
    background-image: url(..//assets/apple\ watch\ respon.jpg);
  }
}
